@namespace ClearBlazorTest
@using ClearBlazorTest
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        <ScrollViewer>
            <StackPanel Spacing=20>
                <TextBlock HorizontalAlignment=Alignment.Center Typo=Typo.H4>API</TextBlock>
                <DocsHeader DocsName=@(DocsInfo?.Name + " Interface") DocsDescription=@DocsInfo?.Description ForApi=true />
                <ApiFields FieldApi=@DocsInfo?.FieldApi>
                </ApiFields>
            </StackPanel>
        </ScrollViewer>
    </div>
</CascadingValue>


