@using System.ComponentModel.DataAnnotations

<ColourPicker @bind-Colour=Colour/>
<div style="width:200px;height:200px;background:@Colour.Value"></div>

@code {
    Color Colour { get; set; } = Color.Secondary;
}