@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id class=@Classes style=@ComputeStyle()>
        @* Scroll viewer *@
        <div id=@_scrollViewerId style=@GetScrollViewerStyle()>
            @if (RowTemplate != null)
            {
                int index = 0;
                @foreach (var row in _items)
                {
                    @if (!row.item.IsVisible)
                    {
                        continue;
                    }
                    @if (row.item.HasChildren)
                    {
                        <div style=@(GetExpandStyle(row.item, index)) @onclick=@(e => OnRowClicked(e, row.item))>
                            @if (row.item.Expanded)
                            {
                                <IconButton Size=Size.Normal Icon=@Icons.Material.Filled.ExpandMore VerticalAlignment=Alignment.Center />
                            }
                            else
                            {
                                <IconButton Size=Size.Normal Icon=@Icons.Material.Filled.ChevronRight VerticalAlignment=Alignment.Center />
                            }
                        </div>
                    }

                    <div id=@(_baseRowId +row.index.ToString()) style=@(GetContentStyle(row.item, index))
                         @onclick=@(e => OnRowClicked(e, row.item))>
                        @RowTemplate(row)
                    </div>
                    index++;
                }
            }
        </div>
    </div>
</CascadingValue>