@using SkiaSharp
@using SkiaSharp.Views.Blazor
@namespace ClearBlazor

<CascadingValue Value="this" IsFixed="false">
    <div id="@_id" style="display:block; overflow:hidden; "
         @onclick=OnClick 
         @onmousedown=OnMouseDown
         @onmouseup=OnMouseUp
         @onmousemove=OnMouseMove
         @onmouseover=OnMouseOver
         @onmouseout=OnMouseOut
         @oncontextmenu=OnContextMenu
         @ontouchstart=OnTouchStart
         @ontouchend=OnTouchEnd
         @ontouchmove=OnTouchMove
         @ontouchmove:preventDefault 
         @ontouchmove:stopPropagation>
        <SKCanvasView @ref="_canvasView" id=@_canvasId OnPaintSurface="OnPaintSurface" />
    </div>
</CascadingValue>



