@using System.ComponentModel.DataAnnotations

<StackPanel Orientation=Orientation.Portrait Spacing="10" Margin="10">
    <Form @ref="form1" ValidationErrorLocation=ValidationErrorLocation.ErrorIcon Model=@this>
        <StackPanel Orientation=Orientation.Portrait Spacing="10">
            <TextInput Size=Size.Small Label="Name" @bind-Value="TextValue1" FieldName="TextValue1" Immediate="true" />
            <NumericInput Size=Size.Small Label="Value" @bind-Value="IntValue1" FieldName="IntValue1" Immediate="true" />
            <CheckBox Size=Size.Small Label="I agree" @bind-Checked=BoolValue1 FieldName="BoolValue1" />
        </StackPanel>
    </Form>
    <Button Size=Size.Small HorizontalAlignment=Alignment.Start OnClicked=@(() => form1.Validate())>Validate</Button>
</StackPanel>

 <StackPanel Orientation=Orientation.Portrait Spacing="10" Margin="10">
    <Form @ref="form2" ValidationErrorLocation=ValidationErrorLocation.ErrorIcon Model=@this>
        <StackPanel Orientation=Orientation.Portrait Spacing="10" Margin="10">
            <TextInput Size=Size.Large Label="Name" @bind-Value="TextValue2" FieldName="TextValue2" Immediate="true" />
            <NumericInput Size=Size.Large Label="Value" @bind-Value="IntValue2" FieldName="IntValue2" Immediate="true" />
            <CheckBox Size=Size.Large Label="I agree" @bind-Checked=BoolValue2 FieldName="BoolValue2" />
        </StackPanel>
    </Form>
    <Button Size=Size.Large HorizontalAlignment=Alignment.Start OnClicked=@(() => form2.Validate())>Validate</Button>
</StackPanel>
 
@code {
    [Required(ErrorMessage = "A value is required.")]
    [MaxLength(10, ErrorMessage = "The maximum length is 10.")]
    public string TextValue1 { get; set; } = string.Empty;
    public int IntValue1 { get; set; }
    public bool BoolValue1 { get; set; } = true;

    [Required(ErrorMessage = "A value is required.")]
    [MaxLength(10, ErrorMessage = "The maximum length is 10.")]
    public string TextValue2 { get; set; } = string.Empty;
    public int IntValue2 { get; set; }
    public bool BoolValue2 { get; set; } = true;

    Form form1;
    Form form2;

}