@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@inherits ClearComponentBase

<div id=@Id @attributes=AdditionalAttributes style=@ComputeStyle()
     @onmouseenter="OnMouseEnter"
     @onmouseleave="OnMouseLeave">
    <TextBlock Clickable=true Color=@ThemeManager.CurrentColorScheme.Primary 
               TextDecoration=@GetTextDecoration() 
               @onclick=@OnLinkClicked>
        @ChildContent
    </TextBlock>
</div>

