@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()"
         @onmousewheel=OnMouseWheel
         @onmouseenter=OnMouseEnter
         @onmouseleave=OnMouseLeave>
        <div id=@_scrollViewerId style=@GetContentStyle()>
            <div id=@_scrollId>
                @ChildContent
            </div>
        </div>

        @if (ShowVerticalScrollBar())
        {
            <div style=@GetVerticalScrollbarStyle()>
                <div id=@_verticalScrollId
                     style=@GetVerticalBackgroundStyle()
                     @onclick=OnVerticalScrollbarClick
                     @onmousedown=OnVerticalMouseDown
                     @onmouseup=OnVerticalMouseUp
                     @onmousemove=OnVerticalMouseMove>
                    <div id=@_verticalThumbId
                         style=@GetVerticalThumbStyle()
                         @onmouseenter=OnVerticalMouseEnter
                         @onmouseleave=OnVerticalMouseLeave>
                    </div>
                </div>
            </div>
        }
        @if (ShowHorizontalScrollBar())
        {
            <div style=@GetHorizontalScrollbarStyle()>
                <div id=@_horizontalScrollId
                     style=@GetHorizontalBackgroundStyle()
                     @onclick=OnHorizontalScrollbarClick
                     @onmousedown=OnHorizontalMouseDown
                     @onmouseup=OnHorizontalMouseUp
                     @onmousemove=OnHorizontalMouseMove>
                    <div id="@_horizontalThumbId"
                         style=@GetHorizontalThumbStyle()
                         @onmouseenter=OnHorizontalMouseEnter
                         @onmouseleave=OnHorizontalMouseLeave />
                </div>
            </div>
        }
    </div>
</CascadingValue>

