<div>
<div class="html"><pre>
<span class="atSign">&#64;</span>using ClearBlazorTest

<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">ScrollViewer</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">StackPanel</span> <span class="htmlAttributeName">Padding</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">20</span> <span class="htmlAttributeName">Spacing</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">20</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">CodeSnippet</span> <span class="htmlAttributeName">Code</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">WrapPanelRowExample</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">WrapPanelRowExample</span> <span class="htmlTagDelimiter">/&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">CodeSnippet</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">CodeSnippet</span> <span class="htmlAttributeName">Code</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">WrapPanelColumnExample</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">WrapPanelColumnExample</span> <span class="htmlTagDelimiter">/&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">CodeSnippet</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">CodeSnippet</span> <span class="htmlAttributeName">Code</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">WrapPanelRowReverseExample</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">WrapPanelRowReverseExample</span> <span class="htmlTagDelimiter">/&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">CodeSnippet</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">CodeSnippet</span> <span class="htmlAttributeName">Code</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">WrapPanelColumnReverseExample</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">WrapPanelColumnReverseExample</span> <span class="htmlTagDelimiter">/&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">CodeSnippet</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">StackPanel</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">ScrollViewer</span><span class="htmlTagDelimiter">&gt;</span>
</pre></div>
</div>
