<div>
<div class="html"><pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Grid</span> <span class="htmlAttributeName">Rows</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>_rows</span> <span class="htmlAttributeName">Columns</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>_columns</span> <span class="htmlAttributeName">HorizontalAlignment</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Alignment.Start</span> <span class="htmlAttributeName">BoxShadow</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">4</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Drawer</span> <span class="htmlAttributeName"><span class="atSign">&#64;</span>ref</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Drawer</span> <span class="htmlAttributeName">BackgroundColor</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Color.BackgroundGrey</span>
            <span class="htmlAttributeName"><span class="atSign">&#64;</span>bind-Open</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Open</span>
            <span class="htmlAttributeName">DrawerLocation</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>_drawerLocation</span>
            <span class="htmlAttributeName">DrawerMode</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>_drawerMode</span>
            <span class="htmlAttributeName">OverlayEnabled</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>_showOverlay</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">DrawerContent</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Grid</span> <span class="htmlAttributeName">CornerRadius</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">4</span><span class="htmlTagDelimiter">&gt;</span>
                <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">ListBox</span> <span class="htmlAttributeName">TListBox</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">string</span> <span class="htmlAttributeName">BackgroundColor</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Color.Primary</span><span class="htmlTagDelimiter">&gt;</span>
                    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">ListBoxItem</span> <span class="htmlAttributeName">Text</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">Item1</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Icon</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Icons.Material.Filled.AddHome</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Close</span> <span class="htmlTagDelimiter">/&gt;</span>
                    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">ListBoxItem</span> <span class="htmlAttributeName">Text</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">Item2</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Icon</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Icons.Material.Filled.DeleteForever</span> <span class="htmlAttributeName">InitiallyExpanded</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="keyword">true</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
                        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">ListBoxItem</span> <span class="htmlAttributeName">Text</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">Item3</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Icon</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Icons.Material.Filled.Delete</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Close</span> <span class="htmlTagDelimiter">/&gt;</span>
                        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">ListBoxItem</span> <span class="htmlAttributeName">Text</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">Item4</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Icon</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Icons.Material.Filled.AccessAlarm</span> <span class="htmlAttributeName">InitiallyExpanded</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="keyword">true</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
                            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">ListBoxItem</span> <span class="htmlAttributeName">Text</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">Item5</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Icon</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Icons.Material.Filled.AddCircle</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Close</span> <span class="htmlTagDelimiter">/&gt;</span>
                            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">ListBoxItem</span> <span class="htmlAttributeName">Text</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">Item6</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Icon</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Icons.Material.Filled.Send</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Close</span> <span class="htmlTagDelimiter">/&gt;</span>
                        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">ListBoxItem</span><span class="htmlTagDelimiter">&gt;</span>
                    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">ListBoxItem</span><span class="htmlTagDelimiter">&gt;</span>
                <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">ListBox</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Grid</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">DrawerContent</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">DrawerBody</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Grid</span> <span class="htmlAttributeName">BackgroundColor</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Color.Light</span><span class="htmlTagDelimiter">&gt;</span>
                <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Button</span> <span class="htmlAttributeName">HorizontalAlignment</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Alignment.Center</span> <span class="htmlAttributeName">Margin</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">5</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Toggle</span><span class="htmlTagDelimiter">&gt;</span>Toggle<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Button</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Grid</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">DrawerBody</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Drawer</span><span class="htmlTagDelimiter">&gt;</span>

    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">StackPanel</span> <span class="htmlAttributeName">Orientation</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Orientation.Portrait</span> <span class="htmlAttributeName">BackgroundColor</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Color.Light</span> <span class="htmlAttributeName">Row</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">1</span><span class="htmlTagDelimiter">&gt;</span>
        &lt;RadioGroup Margin=20 Label=&quot;Drawer location&quot; BackgroundColor=Color.Transparent
                    Color=Color.Dark
                    <span class="atSign">&#64;</span>bind-Value=_drawerLocation <span class="atSign">&#64;</span>bind-Value:after=<span class="atSign">&#64;</span>LocationChanged&gt;
            <span class="atSign">&#64;</span>foreach (DrawerLocation item in Enum.GetValues(typeof(DrawerLocation)))
            {
                <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Radio</span> <span class="htmlAttributeName">Label</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>item.ToString()</span> <span class="htmlAttributeName">Value</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="sharpVariable"><span class="atSign">&#64;</span>item</span><span class="quot">&quot;</span> <span class="htmlTagDelimiter">/&gt;</span>
            }
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">RadioGroup</span><span class="htmlTagDelimiter">&gt;</span>
        &lt;RadioGroup Margin=20 Label=&quot;Drawer mode&quot; BackgroundColor=Color.Transparent
                    Color=Color.Dark
                    <span class="atSign">&#64;</span>bind-Value=_drawerMode <span class="atSign">&#64;</span>bind-Value:after=<span class="atSign">&#64;</span>ModeChanged&gt;
            <span class="atSign">&#64;</span>foreach (DrawerMode item in Enum.GetValues(typeof(DrawerMode)))
            {
                <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Radio</span> <span class="htmlAttributeName">Label</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>item.ToString()</span> <span class="htmlAttributeName">Value</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="sharpVariable"><span class="atSign">&#64;</span>item</span><span class="quot">&quot;</span> <span class="htmlTagDelimiter">/&gt;</span>
            }
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">RadioGroup</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">CheckBox</span> <span class="htmlAttributeName">Margin</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">20</span> <span class="htmlAttributeName">Label</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">Show overlay (only for temporary mode)</span><span class="quot">&quot;</span>
                  <span class="htmlAttributeName">BackgroundColor</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Color.Transparent</span> 
            <span class="htmlAttributeName">Color</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Color.Dark</span>
            <span class="htmlAttributeName"><span class="atSign">&#64;</span>bind-Checked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>_showOverlay</span> <span class="htmlTagDelimiter">/&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">StackPanel</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Grid</span><span class="htmlTagDelimiter">&gt;</span>
</pre></div>
<div class="csharp"><pre>
<span class="atSign">&#64;</span>code {
    Drawer Drawer;

    DrawerLocation _drawerLocation = DrawerLocation.Left;
    DrawerMode _drawerMode = DrawerMode.Permanent;
    <span class="keyword">bool</span> _showOverlay = <span class="keyword">false</span>;

    <span class="keyword">string</span> _rows = <span class="string">&quot;auto,auto&quot;</span>;
    <span class="keyword">string</span> _columns = <span class="string">&quot;400&quot;</span>;

    <span class="keyword">bool</span> Open { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="keyword">true</span>;

    <span class="keyword">private</span> <span class="keyword">void</span> Toggle()
    {
        Open = !Open;
    }
    <span class="keyword">private</span> <span class="keyword">void</span> Close()
    {
        Open = <span class="keyword">false</span>;
    }

    <span class="keyword">private</span> <span class="keyword">void</span> LocationChanged()
    {
        <span class="keyword">switch</span> (_drawerLocation)
        {
            <span class="keyword">case</span> DrawerLocation.Left:
            <span class="keyword">case</span> DrawerLocation.Right:
                _rows = <span class="string">&quot;auto,auto&quot;</span>;
                _columns = <span class="string">&quot;400&quot;</span>;
                <span class="keyword">break</span>;
            <span class="keyword">case</span> DrawerLocation.Top:
            <span class="keyword">case</span> DrawerLocation.Bottom:
                _rows = <span class="string">&quot;400,auto&quot;</span>;
                _columns = <span class="string">&quot;auto&quot;</span>;
                <span class="keyword">break</span>;
        }
    }
    <span class="keyword">private</span> <span class="keyword">void</span> ModeChanged()
    {
    }
    }
</pre></div>
</div>
