@namespace ClearBlazorTest
@using System.ComponentModel.DataAnnotations
@using System.ComponentModel

<StackPanel Orientation=Orientation.Portrait Spacing="10">
    <Grid Margin="10" Width=600 BorderThickness=1 CornerRadius=10 HorizontalAlignment=Alignment.Start>
        <AutoForm @ref="form" HasLabelColumn=false LabelValueCols="*,3*" Margin=20 ShowLabels=true
                  ValidationErrorLocation=ValidationErrorLocation.ErrorIcon Immediate=true
                  InputContainerStyle=InputContainerStyle.Underlined Model=@TestModel />
    </Grid>
    <Button HorizontalAlignment=Alignment.Start OnClicked=@(() => form.Validate())>Validate</Button>
    <Button HorizontalAlignment=Alignment.Start OnClicked=@Save>Save</Button>
</StackPanel>

@code {
    Form form = null!;
    private AutoFormTestModel TestModel { get; set; } = new AutoFormTestModel();

    private void Save()
    {

    }
}