@page "/TreeView"
@using Data
@namespace ClearBlazorTest
<StackPanel BackgroundColor=Color.Transparent HorizontalAlignment=Alignment.Start Spacing=20
            Orientation=Orientation.Portrait>
    <TextBlock HorizontalAlignment=Alignment.Start Typo=Typo.H4>Tree View</TextBlock>
    <TextBlock HorizontalAlignment=Alignment.Start>VirtualizationMode:None : local data (100 rows)</TextBlock>
    <Grid Columns="350,auto" Rows="550,auto" RowSpacing=20>
        <TreeView @ref=_tree TItem=TestTreeRow MinWidth=300 CornerRadius=4 BorderThickness=1
                  Margin=10 Padding=10 HorizontalAlignment=Alignment.Start
                  HorizontalContentAlignment=Alignment.Start
                  @bind-SelectedItem=_selectedItem
                  @bind-SelectedItems=_selectedItems
                  SelectionMode=@_selectionMode
                  AllowSelectionToggle=@_allowSelectionToggle
                  HoverHighlight=@_hoverHighlight
                  OverscrollBehaviour=OverscrollBehaviour.None
                  VirtualizeMode=@VirtualizeMode.None
                  InitialIndex=@((20, Alignment.Center))
                  Items=@_localTreeData>
            <NodeTemplate Context=node>
                <StackPanel Orientation=Orientation.Landscape BackgroundColor=Color.Transparent>
                    <MaterialIcon Icon=@node.IconName Color=Color.Custom(Colors.Yellow.Darken1) />
                    <TextBlock TextWrapping=TextWrap.NoWrap Margin="5">
                        @node.NodeId
                    </TextBlock>
                </StackPanel>
            </NodeTemplate>
        </TreeView>
        <StackPanel Column=1>
            <RadioGroup Margin=20 Label="Selection mode" @bind-Value=_selectionMode
                        @bind-Value:after=@SelectionModeChanged>
                @foreach (SelectionMode mode in Enum.GetValues(typeof(SelectionMode)))
                {
                    <Radio Label=@mode.ToString() Value="@mode" />
                }
            </RadioGroup>
            <CheckBox Margin=20 @bind-Checked=_allowSelectionToggle Label="Allow selection toggle (single selection only)" />
            <CheckBox Margin=20 @bind-Checked=_hoverHighlight Label="Highlight on hover" />
            <TextBlock Margin=20>Selection=@_selectedItem?.FirstName</TextBlock>
            <TextBlock Margin=20>Selections=@string.Join(",", _selectedItems.Select(s => s.FirstName))</TextBlock>
            <Button Margin=10 Width=150 HorizontalAlignment=Alignment.Start OnClicked=@ClearSelections>Clear selections</Button>
        </StackPanel>
        <WrapPanel Row=1 ColumnSpan=2 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row>
            <Button OnClicked=@CollapseAll>Collapse all</Button>
            <Button OnClicked=@ExpandAll>Expand all</Button>
            <Button OnClicked=@Up1>Scroll +1</Button>
            <Button OnClicked=@Up5>Scroll +5</Button>
            <Button OnClicked=@Up10>Scroll +10</Button>
            <Button OnClicked=@Down1>Scroll -1</Button>
            <Button OnClicked=@Down5>Scroll -5</Button>
            <Button OnClicked=@Down10>Scroll -10</Button>
            @*         <Button OnClicked=@OnGoto50Center>Goto 50 (center)</Button>
        <Button OnClicked=@OnGoto10Start>Goto 10 (start)</Button>
    <Button OnClicked=@OnGoto50Center>Goto 50 (center)</Button>
    <Button OnClicked=@OnGoto70End>Goto 70 (end)</Button>
    <Button OnClicked=@OnAddNewItem>Add new item</Button>
    <Button OnClicked=@OnGotoEnd>Goto end</Button>
    <Button OnClicked=@OnGotoStart>Goto start</Button>
    <Button OnClicked=@OnAddNewItemGotoEndIfAtEnd>Add new item and goto end if at end</Button>
 *@    
    </WrapPanel>
    </Grid>
</StackPanel>


