@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value=this IsFixed="false">
    <div id=@HeaderId @attributes=AdditionalAttributes style=@GetFullHeaderStyle()>
        @for (int col = 0; col < Columns.Count; col++)
        {
            var colIndex = col;
            <div style=@GetHeaderStyle(colIndex+1)>
                @if (@Columns[colIndex].HeaderTemplate == null)
                {
                    <TextBlock TextAlignment=@Columns[colIndex].HorizontalHeaderAlignment
                               FontWeight=@((int)FontWeight.Bold)>@Columns[colIndex].Label</TextBlock>
                }
                else
                {
                    @Columns[colIndex].HeaderTemplate?.Invoke(@Columns[colIndex].Label)
                }
            </div>
            @if (VerticalGridLines == GridLines.HeaderOnly || VerticalGridLines == GridLines.All)
            {
                @if (colIndex != Columns.Count)
                {
                    <div style=@GetVerticalGridLineStyle(colIndex+2) />
                }
            }
        }

        @if (HorizontalGridLines == GridLines.HeaderOnly || HorizontalGridLines == GridLines.All)
        {
            <div style=@GetHorizontalGridLineStyle(2, Columns.Count) />
        }
    </div>
</CascadingValue>



