@namespace ClearBlazorTest
    <StackPanel BackgroundColor=Color.Transparent HorizontalAlignment=Alignment.Start Spacing=20 Orientation=Orientation.Portrait>
        <NonVirtualizedList Height=300 Width=250 CornerRadius=4 BoxShadow=4 Margin=10 Padding=10 HorizontalAlignment=Alignment.Start
                            @ref="List" InitialIndex=@((20, Alignment.Center)) Items=@_feeds HorizontalContentAlignment=Alignment.Start>
            <RowTemplate Context=row>
                <Grid Columns="auto,*" Margin=10 Padding=10 CornerRadius=8 BoxShadow=4>
                    <Image Height=40 Width=40 VerticalAlignment=Alignment.Center
                           Style="border-radius:50%; " Stretch=ImageStretch.Fill
                       Source=@($"https://picsum.photos/id/{row.rowData.ImageId}/200/200") />

                    <StackPanel Column=1 Orientation=Orientation.Portrait>
                        <TextBlock Typo=Typo.H6 TextWrapping=TextWrap.Wrap Margin="0,0,10,10">
                        @row.rowData.Title
                        </TextBlock>
                        <ScrollViewer VerticalScrollMode=ScrollMode.Auto VerticalAlignment=Alignment.Center>
                            <TextBlock Column=1 TextWrapping=TextWrap.Wrap Margin="0,0,0,10">
                            @row.rowData.Message
                            </TextBlock>
                        </ScrollViewer>
                    </StackPanel>
                </Grid>
            </RowTemplate>
        </NonVirtualizedList>
        <WrapPanel ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row>
            <Button OnClicked=@OnGoto10Start>Goto 10 (start)</Button>
            <Button OnClicked=@OnGoto50Center>Goto 50 (center)</Button>
            <Button OnClicked=@OnGoto70End>Goto 70 (end)</Button>
            <Button OnClicked=@OnAddNewItem>Add new item</Button>
            <Button OnClicked=@OnGotoEnd>Goto end</Button>
            <Button OnClicked=@OnGotoStart>Goto start</Button>
            <Button OnClicked=@OnAddNewItemGotoEndIfAtEnd>Add new item and goto end if at end</Button>
        </WrapPanel>
    </StackPanel>

@code {
    NonVirtualizedList<Feed> List = null!;
    record Feed(int ImageId, string Title, string Message);

    List<Feed> _feeds = new List<Feed>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        for (int i = 0; i < 100; i++)
        {
            _feeds.Add(new Feed(i % 1000, $"Record #{i}", "This is a message"));
        }
    }

    async Task OnGoto10Start()
    {
        await List.GotoIndex(10, Alignment.Start);
    }

    async Task OnGoto50Center()
    {
        await List.GotoIndex(50, Alignment.Center);
    }

    async Task OnGoto70End()
    {
        await List.GotoIndex(70, Alignment.End);
    }

    async Task OnAddNewItem()
    {
        var index = _feeds.Count;
        _feeds.Add(new Feed(index % 1000, $"Record #{index}", "This is a message"));
        await List.Refresh();
    }

    async Task OnGotoEnd()
    {
        await List.GotoEnd();
    }

    async Task OnGotoStart()
    {
        await List.GotoStart();
    }

    async Task OnAddNewItemGotoEndIfAtEnd()
    {
        var atEnd = await List.AtEnd();

        var index = _feeds.Count;
        _feeds.Add(new Feed(index % 1000, $"Record #{index}", "This is a message"));
        await List.Refresh();
        if (atEnd)
            await List.GotoEnd();
    }

}