@namespace ClearBlazorTest
<StackPanel BackgroundColor=Color.Transparent HorizontalAlignment=Alignment.Start Spacing=20 Orientation=Orientation.Portrait>
    <NonVirtualizedList Height=300 Width=250 CornerRadius=4 BoxShadow=4 Margin=10 Padding=10 HorizontalAlignment=Alignment.Start
                        @ref="Virtualize" Items=@_feeds HorizontalContentAlignment=Alignment.Start>
        <RowTemplate Context=row>
            <Grid Columns="auto,*" Margin=10 Padding=10 CornerRadius=8 BoxShadow=4>
                <Image Height=40 Width=40 VerticalAlignment=Alignment.Center
                       Style="border-radius:50%; " Stretch=ImageStretch.Fill
                       Source=@($"https://picsum.photos/id/{row.item.ImageId}/200/200") />

                <StackPanel Column=1 Orientation=Orientation.Portrait>
                    <TextBlock Typo=Typo.H6 TextWrapping=TextWrap.Wrap Margin="0,0,10,10">
                        @row.item.Title
                    </TextBlock>
                    <ScrollViewer VerticalScrollMode=ScrollMode.Auto VerticalAlignment=Alignment.Center>
                        <TextBlock Column=1 TextWrapping=TextWrap.Wrap Margin="0,0,0,10">
                            @row.item.Message
                        </TextBlock>
                    </ScrollViewer>
                </StackPanel>
            </Grid>
        </RowTemplate>
    </NonVirtualizedList>
    <StackPanel Spacing=10 Orientation=Orientation.Landscape>
        <Button OnClicked=@OnGoto1Start>Goto 1 (start)</Button>
        <Button OnClicked=@OnGoto50Center>Goto 50 (center)</Button>
        <Button OnClicked=@OnGoto99End>Goto 99 (end)</Button>
    </StackPanel>
</StackPanel>

@code {
    async Task OnGoto1Start()
    {
        await Virtualize.GotoIndex(0, Alignment.Start);
    }

    async Task OnGoto50Center()
    {
        await Virtualize.GotoIndex(50, Alignment.Center);
    }

    async Task OnGoto99End()
    {
        await Virtualize.GotoIndex(99, Alignment.End);
    }

    NonVirtualizedList<Feed> Virtualize = null!;
    record Feed(int ImageId, string Title, string Message);

    List<Feed> _feeds = new List<Feed>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        for (int i = 0; i < 100; i++)
        {
            _feeds.Add(new Feed((i + 1) % 1000, $"Record #{i}", "This is a message"));
        }
    }
}