@page "/TableViewInfiniteScrollExample"
@using Data;
@namespace ClearBlazorTest

<StackPanel Orientation=Orientation.Portrait>
    <TextBlock HorizontalAlignment=Alignment.Start Typo=Typo.H4>Table View</TextBlock>
    <TextBlock HorizontalAlignment=Alignment.Start>VirtualizationMode:InfiniteScroll : (5000 rows)</TextBlock>
    <Grid Columns="800,auto,*" Rows="600,*">
        <TableView @ref=_table TItem=TestListRow CornerRadius=4 BorderThickness=1 Margin=10 Padding=10
                   RowSpacing=20 ColumnSpacing=10
                   VirtualizeMode=VirtualizeMode.InfiniteScroll
                   Items=@_localListData
                   @bind-SelectedItem=_selectedItem
                   @bind-SelectedItems=_selectedItems
                   HoverHighlight=@_hoverHighlight
                   HorizontalGridLines=GridLines.All
                   VerticalGridLines=GridLines.All
                   AllowSelectionToggle=@_allowSelectionToggle
                   SelectionMode=@_selectionMode
                   PageSize=30
                   ShowHeader=true
                   StickyHeader=true
                   ShowLoadingSpinner=false>
            <TableColumn Label="Row Index" TItem=TestListRow Field=@(x =>x.ItemIndex) ColumnDefinition=auto />
            <TableColumn Label="First Name" TItem=TestListRow Field=@(x =>x.FirstName) />
            <TableColumn Label="Last Name" TItem=TestListRow Field=@(x =>x.LastName) />
            <TableColumn Label="Product" TItem=TestListRow Field=@(x =>x.Product) />
            <TableColumn Label="UnitPrice" HorizontalContentAlignment=Alignment.Stretch TItem=TestListRow Field=@(x =>x.UnitPrice)>
                <DataTemplate Context=item>
                    <TextBlock VerticalAlignment=Alignment.Start 
                               TextAlignment=Alignment.Center>$@(item.UnitPrice.ToString("0.00"))
                    </TextBlock>
                </DataTemplate>
            </TableColumn>
            <TableColumn Label="Notes" TItem=TestListRow Field=@(x =>x.Notes) ColumnDefinition="*" />
        </TableView>

        <StackPanel Column=1>
            <RadioGroup Margin=20 Label="Selection mode" @bind-Value=_selectionMode
                        @bind-Value:after=@SelectionModeChanged>
                @foreach (SelectionMode mode in Enum.GetValues(typeof(SelectionMode)))
                {
                    <Radio Label=@mode.ToString() Value="@mode" />
                }
            </RadioGroup>
            <CheckBox Margin=20 @bind-Checked=_allowSelectionToggle Label="Allow selection toggle (single selection only)" />
            <CheckBox Margin=20 @bind-Checked=_hoverHighlight Label="Highlight on hover" />
            <TextBlock Margin=20>Selection=@_selectedItem?.FirstName</TextBlock>
            <TextBlock Margin=20>Selections=@string.Join(",", _selectedItems.Select(s => s.FirstName))</TextBlock>
            <Button Margin=10 Width=150 HorizontalAlignment=Alignment.Start OnClicked=@ClearSelections>Clear selections</Button>
        </StackPanel>
        <WrapPanel Row=1 ColumnSpan=3 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row>
            <Button HorizontalAlignment=Alignment.Start OnClicked=@AddToStart>Add to Start</Button>
            <Button HorizontalAlignment=Alignment.Start OnClicked=@OnGotoStart>Goto Start</Button>
            <StackPanel Orientation=Orientation.Landscape>
                <Button OnClicked=@CheckAtStart>CheckAtStart</Button>
                <TextBlock Margin="0,5,0,5" VerticalAlignment=Alignment.Center>@_atStart</TextBlock>
            </StackPanel>
        </WrapPanel>
    </Grid>
</StackPanel>

@code {
    private TestListRow? _selectedItem = null;
    private List<TestListRow> _selectedItems = new();
    private SelectionMode _selectionMode = SelectionMode.None;
    private bool _allowSelectionToggle = false;
    private bool _hoverHighlight = true;
    private TableView<TestListRow> _table = null!;
    private bool _atEnd = false;
    private bool _atStart = true;
    List<TestListRow> _localListData = ClientData.LocalTestListRows5000;

    async Task CheckAtStart()
    {
        if (_table == null)
            return;
        _atStart = await _table.AtStart();
        StateHasChanged();
    }

    private async Task OnGotoStart()
    {
        if (_table == null)
            return;
        await _table.GotoStart();
    }

    private async Task AddToStart()
    {
        if (_table == null)
            return;
        _localListData.Insert(0, TestListRow.GetNewTestListRow(-1));
        await _table.Refresh();
    }

    private async Task SelectionModeChanged()
    {
        if (_table == null)
            return;
        await _table.RemoveAllSelections();

        StateHasChanged();
    }
    private async Task ClearSelections()
    {
        await _table.RemoveAllSelections();
        StateHasChanged();
    }
}
