<div>
<div class="html"><pre>
<span class="atSign">&#64;</span>using Data
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">TableView</span> <span class="htmlAttributeName">TItem</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">TableRow</span> <span class="htmlAttributeName">CornerRadius</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">4</span> <span class="htmlAttributeName">BorderThickness</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">1</span> <span class="htmlAttributeName">Margin</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">10</span> <span class="htmlAttributeName">Padding</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">10</span> <span class="htmlAttributeName">Height</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">500</span>
           <span class="htmlAttributeName">RowSpacing</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">0</span> <span class="htmlAttributeName">ColumnSpacing</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">10</span>
           <span class="htmlAttributeName">VirtualizeMode</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">VirtualizeMode.Virtualize</span>
           <span class="htmlAttributeName">RowHeight</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">30</span>
           <span class="htmlAttributeName">Items</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>_localTableRows</span>
           <span class="htmlAttributeName">HorizontalGridLines</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">GridLines.All</span>
           <span class="htmlAttributeName">VerticalGridLines</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">GridLines.All</span>
           <span class="htmlAttributeName">HoverHighlight</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">false</span>
           <span class="htmlAttributeName">ShowLoadingSpinner</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">true</span><span class="htmlTagDelimiter">&gt;</span>
    &lt;TableColumn Label=&quot;First Name&quot; TItem=TableRow Field=<span class="atSign">&#64;</span>(x =&gt;x.FirstName) /&gt;
    &lt;TableColumn Label=&quot;Last Name&quot; TItem=TableRow Field=<span class="atSign">&#64;</span>(x =&gt;x.LastName) /&gt;
    &lt;TableColumn Label=&quot;Product&quot; TItem=TableRow Field=<span class="atSign">&#64;</span>(x =&gt;x.Product) /&gt;
    &lt;TableColumn Label=&quot;Available&quot; TItem=TableRow Field=<span class="atSign">&#64;</span>(x =&gt;x.Available) /&gt;
    &lt;TableColumn Label=&quot;Quantity&quot; ContentAlignment=Alignment.Center TItem=TableRow Field=<span class="atSign">&#64;</span>(x =&gt;x.Quantity) /&gt;
    &lt;TableColumn Label=&quot;UnitPrice&quot; ContentAlignment=Alignment.Stretch TItem=TableRow Field=<span class="atSign">&#64;</span>(x =&gt;x.UnitPrice)&gt;
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">DataTemplate</span> <span class="htmlAttributeName">Context</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">item</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">TextBlock</span> <span class="htmlAttributeName">TextAlignment</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Alignment.Center</span><span class="htmlTagDelimiter">&gt;</span>$<span class="atSign">&#64;</span>(item.UnitPrice.ToString(&quot;0.00&quot;))<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">TextBlock</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">DataTemplate</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">TableColumn</span><span class="htmlTagDelimiter">&gt;</span>
    &lt;TableColumn Label=&quot;Notes&quot; TItem=TableRow Field=<span class="atSign">&#64;</span>(x =&gt;x.Notes)&gt;
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">DataTemplate</span> <span class="htmlAttributeName">Context</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">item</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">TextBlock</span> <span class="htmlAttributeName">TextWrapping</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">TextWrap.NoWrap</span> <span class="htmlAttributeName">TextTrimming</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">true</span><span class="htmlTagDelimiter">&gt;</span><span class="atSign">&#64;</span>(item.Notes)<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">TextBlock</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">DataTemplate</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">TableColumn</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">TableView</span><span class="htmlTagDelimiter">&gt;</span>
</pre></div>
<div class="csharp"><pre>
<span class="atSign">&#64;</span>code {

    List&lt;TableRow&gt; _localTableRows = <span class="keyword">new</span>();

    <span class="keyword">protected</span> <span class="keyword">override</span> <span class="keyword">void</span> OnInitialized()
    {
        <span class="keyword">base</span>.OnInitialized();

        <span class="keyword">for</span> (<span class="keyword">int</span> i = <span class="number">0</span>; i &lt; <span class="number">500</span>; i++)
            _localTableRows.Add(TableRow.GetNewTableRow(i));
    }
}
</pre></div>
</div>
