@page "/"
@namespace VirtualizeDemo
@using Microsoft.AspNetCore.SignalR.Client

<RootComponent>
    @*    <Grid Columns="*,*">
    <StackPanel Orientation=Orientation.Portrait Width=200 Height=800>
    <Grid Height=75 BorderThickness=1>
    <ScrollViewer Column=1 VerticalScrollMode=ScrollMode.Auto>
    <TextBlock Column=1 TextWrapping=TextWrap.Wrap Margin="0,0,0,10" VerticalAlignment=Alignment.Center>
    @LoremNET.Lorem.Words(100)
    </TextBlock>
    </ScrollViewer>
    </Grid>
    </StackPanel>
    <Grid Column=1 Height=75 Width=100 BorderThickness=1>
    <ScrollViewer Column=1 VerticalScrollMode=ScrollMode.Enabled>
    <TextBlock Column=1 TextWrapping=TextWrap.Wrap Margin="0,0,0,10" VerticalAlignment=Alignment.Center>
    @LoremNET.Lorem.Words(100)
    </TextBlock>
    </ScrollViewer>
    </Grid>
        </Grid>
        *@
    <StackPanel Orientation=Orientation.Portrait>
        <VirtualizeNew Height=800 Width=800 CornerRadius=4 BoxShadow=4 Margin=10 Padding=10
                                Items=@_feedEntries.FeedEntries Context=item>
            <Grid Columns="auto,*" Margin=20 Padding=10 CornerRadius=8 BoxShadow=4>
                <Image Height=75 Width=75 VerticalAlignment=Alignment.Center
                        Style="border-radius:50%; " Stretch=ImageStretch.Fill
                        Source=@($"https://picsum.photos/id/{item.ElementId}/200/200") />
                <StackPanel Column=1 Orientation=Orientation.Portrait>
                    <TextBlock Typo=Typo.H6 TextWrapping=TextWrap.Wrap Margin="0,0,10,10">
                        @item.Title
                    </TextBlock>
                    <ScrollViewer VerticalScrollMode=ScrollMode.Auto VerticalAlignment=Alignment.Center>
                        <TextBlock Column=1 TextWrapping=TextWrap.Wrap Margin="0,0,0,10">
                            @item.Message
                        </TextBlock>
                    </ScrollViewer>
                </StackPanel>
            </Grid>
        </VirtualizeNew>
        <Button OnClicked=@OnClick>Send message</Button>
    </StackPanel>

</RootComponent>

