@namespace ClearBlazorTest
<Button Icon=@Icon @onclick=@Clicked Color=@Color>
    @Content
</Button>
@code {
    public string Icon { get; set; } = Icons.Material.Filled.AlarmOff;
    public string Content { get; set; } = "Alarm off";
    public Color Color { get; set; } = Color.Primary;
    private bool toggled = false;

    private void Clicked()
    {
        toggled = !toggled;
        Icon = toggled == true ? Icons.Material.Filled.AlarmOn : Icons.Material.Filled.AlarmOff;
        Content = toggled == true ? "Alarm on" : "alarm off";
        Color = toggled == true ? Color.Error : Color.Primary;
    }
}