@namespace ClearBlazorTest

<Button ButtonStyle=ButtonStyle.LabelOnly>Default</Button>
<Button ButtonStyle=ButtonStyle.LabelOnly Color="@Color.Primary">Primary</Button>
<Button ButtonStyle=ButtonStyle.LabelOnly Color="@Color.Error">Error</Button>
<Button ButtonStyle=ButtonStyle.LabelOnly Disabled=true>Disabled</Button>
