@namespace ClearBlazorTest
<Button Shape=ContainerShape.Circle ButtonStyle=ButtonStyle.Filled Color="@Color.Secondary">Secondary</Button>
<Button Shape=ContainerShape.Square ButtonStyle=ButtonStyle.Filled Color="@Color.Secondary">Secondary</Button>
<Button Shape=ContainerShape.Rounded ButtonStyle=ButtonStyle.Filled Color="@Color.Secondary">Secondary</Button>
<Button Shape=ContainerShape.FullyRounded ButtonStyle=ButtonStyle.Filled Color="@Color.Secondary">Secondary</Button>
