@namespace ClearBlazorTest
<Button ButtonStyle=ButtonStyle.Filled @onclick="@Clicked">Default</Button>
<Button ButtonStyle=ButtonStyle.Filled Color="@Color.Primary" @onclick="@Clicked">Primary</Button>
<Button ButtonStyle=ButtonStyle.Filled Color="@Color.Error">Error</Button>
<Button ButtonStyle=ButtonStyle.Filled Disabled=true>Disabled</Button>

@code {

    private void Clicked()
    {

    }
}