@namespace ClearBlazorTest
<Button ButtonStyle=ButtonStyle.Elevated >Default</Button>
<Button ButtonStyle=ButtonStyle.Elevated Color="@Color.Primary">Primary</Button>
<Button ButtonStyle=ButtonStyle.Elevated Color="@Color.Error">Error</Button>
<Button ButtonStyle=ButtonStyle.Elevated Disabled=true>Disabled</Button>
