@namespace ClearBlazorTest
<StackPanel BackgroundColor=Color.Transparent HorizontalAlignment=Alignment.Start Spacing=20 Orientation=Orientation.Portrait>
    <Virtualize Height=300 Width=150 CornerRadius=4 BoxShadow=4 Margin=10 Padding=10
                @ref="Virtualize" Items=@items Context=item HorizontalContentAlignment=Alignment.Start>
        <TextBlock>@item</TextBlock>
    </Virtualize>
    <StackPanel Spacing=10 Orientation=Orientation.Landscape>
        <Button OnClicked=@OnGoto10000Start>Goto 10000 (start)</Button>
        <Button OnClicked=@OnGoto1000Center>Goto 1000 (center)</Button>
        <Button OnClicked=@OnGoto20000End>Goto 20000 (end)</Button>
    </StackPanel>
</StackPanel>

@code {
    async Task OnGoto10000Start()
    {
        await Virtualize.GotoIndex(10000, Alignment.Start);
    }

    async Task OnGoto1000Center()
    {
        await Virtualize.GotoIndex(1000, Alignment.Center);
    }

    async Task OnGoto20000End()
    {
        await Virtualize.GotoIndex(20000, Alignment.End);
    }

    ClearBlazor.Virtualize<string> Virtualize = null!;
    private IEnumerable<string> items = Enumerable.Range(1, 100000).Select(i => i.ToString()).ToArray();

}