@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@inherits ClearComponentBase

<div id=@Id @attributes=AdditionalAttributes style=@ComputeStyle()>
    <TextBlock>
        @((MarkupString)htmlString)
    </TextBlock>
</div>
