@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" @attributes=AdditionalAttributes style=@ComputeStyle() class=@Classes @ondragover=@OnDragOver>
        <WrapPanel>
            @ChildContent
        </WrapPanel>
    </div>
</CascadingValue>
