@using System.Text
@namespace ClearBlazor
@inherits ClearComponentBase

@if (_parent != null && _parent._activePage == this)
{
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        @ChildContent
    </div>
}



