@using System.Text
@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id @attributes=AdditionalAttributes class="@Classes" style="@ComputeStyle()">
        <Grid Rows="auto,*" >
            <WrapPanel VerticalAlignment="Alignment.Start">
                @foreach (Tab tabPage in _pages)
                {
                    <TabButton Size=@Size ButtonStyle=ButtonStyle.LabelOnly IsFirstTab=@(_pages.First()==tabPage)
                               IsLastTab=@(_pages.Last()==tabPage)
                               Icon=@tabPage.Icon
                               IconColor=@GetButtonColor(tabPage)
                               Color=@GetButtonColor(tabPage)
                               ToolTip=@tabPage.ToolTip
                               IsActive=@(tabPage == _activePage) Disabled="@tabPage.Disabled"
                               @onclick=@(e => ActivatePage(tabPage))>
                        @tabPage?.Text
                    </TabButton>
                }
            </WrapPanel>
            <Grid Row=1>
                @ChildContent
            </Grid>
        </Grid>
    </div>
</CascadingValue>
