@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" @attributes=AdditionalAttributes class ="@Classes" style="@ComputeStyle()">
        <StackPanel>
            <Grid Height=20 BackgroundColor=Color.Error>
                @CardHeader
            </Grid>
            <Grid Height=20 BackgroundColor=Color.Secondary>
                @CardSection
            </Grid>
            <Grid Height=20 BackgroundColor=Color.Tertiary>
                @CardFooter
            </Grid>
        </StackPanel>
    </div>
</CascadingValue>
