@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" style=@ComputeStyle() class="@Classes">
        <StackPanel Orientation=@Orientation>
            @if (@IsInToolbarTray)
            {
                <Grid BorderThickness="0" Margin="12,0,12,0" BackgroundColour=@Color.Transparent>
                    <IconButton Style="cursor: move; " IconColour=@Color.Dark Icon="@Icons.Material.Filled.DragIndicator" />
                </Grid>
            }
            @ChildContent
        </StackPanel>
    </div>
    @if (NewLine)
    {
        <div style="flex-basis:100%; order:@(Order+1);"></div>
    }

</CascadingValue>
