@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id class=@Classes style=@ComputeStyle()>
        <ScrollViewer @ref="_scrollViewer">
            <div style="display:grid; position: relative;height: @(_height)px">
                @if (ChildContent != null)
                {
                        @foreach (var item in Items.Select((item, index) => new { item, index }))
                        {
                            <div style="@(GetContentStyle()) ">
                                @ChildContent(item.item)
                            </div>
                        }
                }
            </div>
        </ScrollViewer>
    </div>
</CascadingValue>