@namespace ClearBlazorTest
@using Data
<Grid Columns="auto,auto,*" Rows="auto,*">
    <ListView @ref=_list Column=0 HorizontalAlignment=Alignment.Start Margin=40
              @bind-SelectedItem=_selectedItem @bind-SelectedItems=_selectedItems
              DataProvider=@GetData Width=300 Height=500 BorderThickness="1"
              BorderColor=Color.Dark CornerRadius="4" SelectionMode=@_selectionMode
              HoverHighlight=@_hoverHighlight
              OverscrollBehaviour=OverscrollBehaviour.None
              VirtualizeMode=VirtualizeMode.Virtualize
              InitialIndex=@((20, Alignment.Center))
              RowHeight=60
              AllowSelectionToggle=@_allowSelectionToggle>
        <RowTemplate Context=row>
            <Grid BackgroundColor=Color.BackgroundGrey BorderThickness=1 CornerRadius=8
                  Margin=5 Padding=10 Columns="*,3*">
                <MaterialIcon Icon=@row.IconName VerticalAlignment=Alignment.Center />
                <TextBlock VerticalAlignment=Alignment.Center Column=1> @($"{row.ToString()} ({row.ItemIndex})")</TextBlock>
            </Grid>
        </RowTemplate>
    </ListView>
    @if (BrowserSizeService.DeviceSize >= DeviceSize.Small)
    {
        <StackPanel Column=1>
            <RadioGroup Margin=20 Label="Selection mode" @bind-Value=_selectionMode
                        @bind-Value:after=@SelectionModeChanged>
                @foreach (SelectionMode mode in Enum.GetValues(typeof(SelectionMode)))
                {
                    <Radio Label=@mode.ToString() Value="@mode" />
                }
            </RadioGroup>
            <CheckBox Margin=20 @bind-Checked=_allowSelectionToggle Label="Allow selection toggle (single selection only)" />
            <CheckBox Margin=20 @bind-Checked=_hoverHighlight Label="Highlight on hover" />
            <TextBlock Margin=20>Selection=@_selectedItem?.ToString()</TextBlock>
            <TextBlock Margin=20>Selections=@string.Join(",", _selectedItems.Select(s => s.ToString()))</TextBlock>
            <Button Margin=10 Width=150 HorizontalAlignment=Alignment.Start OnClicked=@ClearSelections>Clear selections</Button>
        </StackPanel>
        <WrapPanel Row=1 ColumnSpan=3 ColumnSpacing=10 RowSpacing=10 Direction=Direction.Row>
            <Button OnClicked=@OnGoto1000Start>Goto 1000 (start)</Button>
            <Button OnClicked=@OnGoto3000Center>Goto 3000 (center)</Button>
            <Button OnClicked=@OnGoto4000End>Goto 4000 (end)</Button>
            <Button OnClicked=@OnGotoEnd>Goto end</Button>
            <Button OnClicked=@OnGotoStart>Goto start</Button>
        </WrapPanel>
    }
</Grid>

@code {
    List<TestListRow> _testData = ClientData.LocalTestListRows5000;

    private TestListRow _selectedItem = null!;
    private List<TestListRow> _selectedItems = new();
    private SelectionMode _selectionMode = SelectionMode.None;
    private bool _allowSelectionToggle = false;
    private bool _hoverHighlight = true;
    private ListView<TestListRow>? _list;

    async Task<(int totalNumItem, IEnumerable<TestListRow> items)> GetData(ClearBlazor.DataProviderRequest request)
    {
        await Task.CompletedTask;
        return (_testData.Count(), _testData.Skip(request.StartIndex).Take(request.Count));
    }

    async Task OnGoto1000Start()
    {
        if (_list == null)
            return;
        await _list.GotoIndex(1000, Alignment.Start);
    }

    async Task OnGoto3000Center()
    {
        if (_list == null)
            return;
        await _list.GotoIndex(3000, Alignment.Center);
    }

    async Task OnGoto4000End()
    {
        if (_list == null)
            return;
        await _list.GotoIndex(4000, Alignment.End);
    }

    async Task OnGotoEnd()
    {
        if (_list == null)
            return;
        await _list.GotoEnd();
    }

    async Task OnGotoStart()
    {
        if (_list == null)
            return;
        await _list.GotoStart();
    }

    private async Task SelectionModeChanged()
    {
        if (_list == null)
            return;
        await _list.RemoveAllSelections();
        StateHasChanged();
    }

    private async Task ClearSelections()
    {
        if (_list == null)
            return;
        await _list.RemoveAllSelections();
        StateHasChanged();
    }
}