@namespace ClearBlazorTest
<Button ButtonStyle=TextEditFillMode.Filled OnClicked="@Clicked">Default</Button>
<Button ButtonStyle=TextEditFillMode.Filled Colour="@Color.Primary" OnClicked="@Clicked">Primary</Button>
<Button ButtonStyle=TextEditFillMode.Filled Colour="@Color.Secondary">Secondary</Button>
<Button ButtonStyle=TextEditFillMode.Filled Disabled=true>Disabled</Button>

@code {

    private void Clicked()
    {

    }
}