@namespace ClearBlazorTest
<Button ButtonStyle=TextEditFillMode.Outline>Default</Button>
<Button ButtonStyle=TextEditFillMode.Outline Colour="@Color.Primary">Primary</Button>
<Button ButtonStyle=TextEditFillMode.Outline Colour="@Color.Secondary">Secondary</Button>
<Button ButtonStyle=TextEditFillMode.Outline Disabled=true>Disabled</Button>
