* {
    margin: 0;
    padding:0;
}
* {
    -webkit-tap-highlight-color: transparent
}

html {
    overflow: hidden;
    overscroll-behavior: none;
}

.htmlTagDelimiter {
    color: #979797;
}
.htmlElementName {
    color: blue;
    font-weight: 600;
}

.htmlAttributeName {
    color: #8323d8;
}

.htmlOperator, .quot {
    color: #737373;
}

.htmlAttributeValue {
    color: #ff4081;
}

.htmlLink {
    color: #ff4081;
    text-decoration: underline;
}

.enum {
    color: #00c853;
}

.enumValue, .sharpVariable {
    color: blue;
}

.keyword {
    color: #2196f3;
    background-color: lightgray;
}

.atSign {
    color: blue;
    background-color: lightgray;
}

.comment {
    color: #57a64a;
}



