@using Microsoft.AspNetCore.Components
@using System.Text
@using System.Text.RegularExpressions

@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value=this IsFixed=false>
    <div id=@Id @attributes=AdditionalAttributes class=@Classes style=@ComputeStyle()
         @onpointerdown=OnPointerDown
         @onpointerup=OnPointerUp
         @onpointermove=OnPointerMove
         @onpointerenter=OnPointerEnter
         @onpointerleave="OnPointerLeave">

        @if (BackgroundGradient2 != null)
        {
            <div style="background: @(BackgroundGradient2)}"/>
        }
        @ChildContent
    </div>
</CascadingValue>
