@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
     <div id="@Id" style="@ComputeStyle()" class="@Classes"
         @onclick="OnElementClicked"
         @onmouseenter=OnElementMouseEnter
         @onmouseleave=OnElementMouseLeave>
        @ChildContent
    </div>
</CascadingValue>

