<div>
<div class="html"><pre>
<span class="atSign">&#64;</span>using ClearBlazorTest
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">ScrollViewer</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">StackPanel</span> <span class="htmlAttributeName">Spacing</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">20</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">CodeSnippet</span> <span class="htmlAttributeName">Code</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">StackPanelVerticalExample</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">StackPanelVerticalExample</span> <span class="htmlTagDelimiter">/&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">CodeSnippet</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">CodeSnippet</span> <span class="htmlAttributeName">Code</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">StackPanelHorizontalExample</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">StackPanelHorizontalExample</span> <span class="htmlTagDelimiter">/&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">CodeSnippet</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">StackPanel</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">ScrollViewer</span><span class="htmlTagDelimiter">&gt;</span>
</pre></div>
</div>
