@namespace ClearBlazor
@inherits ClearComponentBase
@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Components.Web.Virtualization

@if (LoadingComplete)
{
    <div style=@GetStyle()>
        <div style="height: 100%; width:100%; display: grid;">
            <div @ref="Element" style="display:grid;overflow:hidden;"
                 @onpointermove=OnPointerMove 
                 @onpointerup=OnPointerUp>
                @ChildContent
            </div>
        </div>
    </div>
}
