<div>
<div class="html"><pre>
<span class="atSign">&#64;</span>using ClearBlazor

<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Pagination</span> <span class="htmlAttributeName">ShowFirstAndLastButtons</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">true</span>
            <span class="htmlAttributeName"><span class="atSign">&#64;</span>bind-SelectedPage</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">selectedPage</span> <span class="htmlAttributeName">NumPages</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">10</span> <span class="htmlAttributeName">NumPagesShown</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">3</span><span class="htmlTagDelimiter">/&gt;</span>
</pre></div>
<div class="csharp"><pre>
<span class="atSign">&#64;</span>code {
    <span class="keyword">int</span> selectedPage = <span class="number">3</span>;
}
</pre></div>
</div>
