@namespace ClearBlazor
@using Excubo.Blazor.Canvas
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
     <div id="@Id" @ref="CanvasContainerElement" class="@Classes" style="@ComputeStyle()"
         @onclick=OnClick 
         @onmousedown=OnMouseDown
         @onmouseup=OnMouseUp
         @onmousemove=OnMouseMove
         @onmouseover=OnMouseOver
         @onmouseout=OnMouseOut
         @oncontextmenu=OnContextMenu
         @ontouchstart=OnTouchStart
         @ontouchend=OnTouchEnd
         @ontouchmove=OnTouchMove
         @ontouchmove:preventDefault 
         @ontouchmove:stopPropagation>
        <Canvas @ref="CanvasReference" id=@CanvasId style="height:100%;width:100%;"/>
    </div>
 </CascadingValue>
