<div>
<div class="html"><pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">StackPanel</span> <span class="htmlAttributeName">BackgroundColor</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Color.Transparent</span> <span class="htmlAttributeName">HorizontalAlignment</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Alignment.Start</span> <span class="htmlAttributeName">Spacing</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">20</span> <span class="htmlAttributeName">Orientation</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Orientation.Portrait</span><span class="htmlTagDelimiter">&gt;</span>
    &lt;NonVirtualizedTree Height=300 Width=250 CornerRadius=4 BoxShadow=4 Margin=10 Padding=10 HorizontalAlignment=Alignment.Start
                        <span class="atSign">&#64;</span>ref=&quot;List&quot; InitialIndex=<span class="atSign">&#64;</span>((20, Alignment.Center)) Items=<span class="atSign">&#64;</span>_feeds HorizontalContentAlignment=Alignment.Start&gt;
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">RowTemplate</span> <span class="htmlAttributeName">Context</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">row</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">StackPanel</span> <span class="htmlAttributeName">Orientation</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Orientation.Landscape</span> <span class="htmlAttributeName">BackgroundColor</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Color.Transparent</span><span class="htmlTagDelimiter">&gt;</span>
                <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MaterialIcon</span> <span class="htmlAttributeName">Icon</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>row.rowData.Icon</span> <span class="htmlAttributeName">Color</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Color.Custom(Colors.Yellow.Darken1)</span><span class="htmlTagDelimiter">/&gt;</span>
                <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">TextBlock</span> <span class="htmlAttributeName">TextWrapping</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">TextWrap.NoWrap</span> <span class="htmlAttributeName">Margin</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">5</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
                    <span class="atSign">&#64;</span>row.rowData.Title
                <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">TextBlock</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">StackPanel</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">RowTemplate</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">NonVirtualizedTree</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="atSign">&#64;</span>*         <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">WrapPanel</span> <span class="htmlAttributeName">ColumnSpacing</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">10</span> <span class="htmlAttributeName">RowSpacing</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">10</span> <span class="htmlAttributeName">Direction</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Direction.Row</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Button</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>OnGoto10Start</span><span class="htmlTagDelimiter">&gt;</span>Goto 10 (start)<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Button</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Button</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>OnGoto50Center</span><span class="htmlTagDelimiter">&gt;</span>Goto 50 (center)<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Button</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Button</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>OnGoto70End</span><span class="htmlTagDelimiter">&gt;</span>Goto 70 (end)<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Button</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Button</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>OnAddNewItem</span><span class="htmlTagDelimiter">&gt;</span>Add new item<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Button</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Button</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>OnGotoEnd</span><span class="htmlTagDelimiter">&gt;</span>Goto end<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Button</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Button</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>OnGotoStart</span><span class="htmlTagDelimiter">&gt;</span>Goto start<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Button</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Button</span> <span class="htmlAttributeName">OnClicked</span><span class="htmlOperator">=</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>OnAddNewItemGotoEndIfAtEnd</span><span class="htmlTagDelimiter">&gt;</span>Add new item and goto end if at end<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Button</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">WrapPanel</span><span class="htmlTagDelimiter">&gt;</span>
    *<span class="atSign">&#64;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">StackPanel</span><span class="htmlTagDelimiter">&gt;</span>
</pre></div>
<div class="csharp"><pre>
<span class="atSign">&#64;</span>code {
    <span class="keyword">private</span> <span class="keyword">class</span> Feed : TreeItem&lt;Feed&gt;
    {
        <span class="keyword">public</span> <span class="keyword">string</span> Id { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="keyword">string</span>.Empty;
        <span class="keyword">public</span> <span class="keyword">string</span> Title { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="keyword">string</span>.Empty;
        <span class="keyword">public</span> <span class="keyword">string</span> Icon { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="keyword">string</span>.Empty;
    }

    NonVirtualizedTree&lt;Feed&gt; List = <span class="keyword">null</span>!;

    List&lt;Feed&gt; _feeds = <span class="keyword">new</span> List&lt;Feed&gt;();

    <span class="keyword">protected</span> <span class="keyword">override</span> <span class="keyword">void</span> OnInitialized()
    {
        <span class="keyword">base</span>.OnInitialized();

        InitialiseData();
    }

    <span class="comment">// async Task OnGoto10Start()</span>
    <span class="comment">// {</span>
    <span class="comment">//     await List.GotoIndex(10, Alignment.Start);</span>
    <span class="comment">// }</span>

    <span class="comment">// async Task OnGoto50Center()</span>
    <span class="comment">// {</span>
    <span class="comment">//     await List.GotoIndex(50, Alignment.Center);</span>
    <span class="comment">// }</span>

    <span class="comment">// async Task OnGoto70End()</span>
    <span class="comment">// {</span>
    <span class="comment">//     await List.GotoIndex(70, Alignment.End);</span>
    <span class="comment">// }</span>

    <span class="comment">// async Task OnAddNewItem()</span>
    <span class="comment">// {</span>
    <span class="comment">//     var index = _feeds.Count;</span>
    <span class="comment">//     _feeds.Add(new Feed(index % 1000, $&quot;Record #{index}&quot;, &quot;This is a message&quot;));</span>
    <span class="comment">//     await List.Refresh();</span>
    <span class="comment">// }</span>

    <span class="comment">// async Task OnGotoEnd()</span>
    <span class="comment">// {</span>
    <span class="comment">//     await List.GotoEnd();</span>
    <span class="comment">// }</span>

    <span class="comment">// async Task OnGotoStart()</span>
    <span class="comment">// {</span>
    <span class="comment">//     await List.GotoStart();</span>
    <span class="comment">// }</span>

    <span class="comment">// async Task OnAddNewItemGotoEndIfAtEnd()</span>
    <span class="comment">// {</span>
    <span class="comment">//     var atEnd = await List.AtEnd();</span>

    <span class="comment">//     var index = _feeds.Count;</span>
    <span class="comment">//     _feeds.Add(new Feed(index % 1000, $&quot;Record #{index}&quot;, &quot;This is a message&quot;));</span>
    <span class="comment">//     await List.Refresh();</span>
    <span class="comment">//     if (atEnd)</span>
    <span class="comment">//         await List.GotoEnd();</span>
    <span class="comment">// }</span>

    <span class="keyword">private</span> <span class="keyword">void</span> InitialiseData()
    {
        _feeds.Add(<span class="keyword">new</span> Feed
            {
                Id = <span class="string">&quot;01&quot;</span>,
                Title = <span class="string">&quot;Local Disk (C:)&quot;</span>,
                Expanded = <span class="keyword">true</span>,
                Icon = Icons.Material.TwoTone.Folder,
                Children = <span class="keyword">new</span> List&lt;Feed&gt;()
        {
            <span class="keyword">new</span> Feed { Id = <span class="string">&quot;01-01&quot;</span>, Title = <span class="string">&quot;Program Files&quot;</span>,
                       Icon = Icons.Material.TwoTone.Folder,
                       Children = <span class="keyword">new</span> List&lt;Feed&gt;()
                {
                    <span class="keyword">new</span> Feed { Id = <span class="string">&quot;01-01-01&quot;</span>, Title = <span class="string">&quot;Windows NT&quot;</span> },
                    <span class="keyword">new</span> Feed { Id = <span class="string">&quot;01-01-02&quot;</span>, Title = <span class="string">&quot;Windows Mail&quot;</span> },
                    <span class="keyword">new</span> Feed { Id = <span class="string">&quot;01-01-03&quot;</span>, Title = <span class="string">&quot;Windows Photo Viewer&quot;</span> }
                },
            },
            <span class="keyword">new</span> Feed
                {
                    Id = <span class="string">&quot;01-02&quot;</span>,
                    Title = <span class="string">&quot;Users&quot;</span>,
                    Icon = Icons.Material.TwoTone.Folder,
                    Expanded = <span class="keyword">true</span>,
                    Children = <span class="keyword">new</span> List&lt;Feed&gt;()
                    {
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;01-02-01&quot;</span>, Title = <span class="string">&quot;Smith&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;01-02-02&quot;</span>, Title = <span class="string">&quot;Public&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;01-02-03&quot;</span>, Title = <span class="string">&quot;Admin&quot;</span> },
                    },
                },
            <span class="keyword">new</span> Feed
                {
                    Id = <span class="string">&quot;01-03&quot;</span>,
                    Title = <span class="string">&quot;Windows&quot;</span>,
                    Icon = Icons.Material.TwoTone.Folder,
                    Children = <span class="keyword">new</span> List&lt;Feed&gt;()
                    {
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;01-03-01&quot;</span>, Title = <span class="string">&quot;Boot&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;01-03-02&quot;</span>, Title = <span class="string">&quot;Media&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;01-03-03&quot;</span>, Title = <span class="string">&quot;System32&quot;</span> },
                    }
                },
        },
            });
        _feeds.Add(<span class="keyword">new</span> Feed
            {
                Id = <span class="string">&quot;02&quot;</span>,
                Title = <span class="string">&quot;Local Disk (D:)&quot;</span>,
                Icon = Icons.Material.TwoTone.Folder,
                Children = <span class="keyword">new</span> List&lt;Feed&gt;()
            {
                <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-01&quot;</span>, Title = <span class="string">&quot;Personals&quot;</span>,
                Icon = Icons.Material.TwoTone.Folder,
                    Children = <span class="keyword">new</span> List&lt;Feed&gt;()
                    {
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-01-01&quot;</span>, Title = <span class="string">&quot;My photo.png&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-01-02&quot;</span>, Title = <span class="string">&quot;Rental document.docx&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-01-03&quot;</span>, Title = <span class="string">&quot;Payslip.pdf&quot;</span> },
                    },
                },
                <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-02&quot;</span>, Title = <span class="string">&quot;Projects&quot;</span>,
                                Icon = Icons.Material.TwoTone.Folder,
    Children = <span class="keyword">new</span> List&lt;Feed&gt;()
                    {
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-02-01&quot;</span>, Title = <span class="string">&quot;Blazor Application &quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-02-02&quot;</span>, Title = <span class="string">&quot;TypeScript Application&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-02-03&quot;</span>, Title = <span class="string">&quot;React Application&quot;</span> },
                    }
                },
                <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-03&quot;</span>, Title = <span class="string">&quot;Office&quot;</span>,
                Icon = Icons.Material.TwoTone.Folder,
                    Children = <span class="keyword">new</span> List&lt;Feed&gt;()
                    {
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-03-01&quot;</span>, Title = <span class="string">&quot;Work details.docx &quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-03-02&quot;</span>, Title = <span class="string">&quot;Weekly report.docx&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;02-03-03&quot;</span>, Title = <span class="string">&quot;Wishlist.csv&quot;</span> },
                    }
                },
            },
            });
        _feeds.Add(<span class="keyword">new</span> Feed
            {
                Id = <span class="string">&quot;03&quot;</span>,
                Title = <span class="string">&quot;Local Disk (E:)&quot;</span>,
                Icon = Icons.Material.TwoTone.Folder,
                Children = <span class="keyword">new</span> List&lt;Feed&gt;()
            {
                <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-01&quot;</span>, Title = <span class="string">&quot;Pictures&quot;</span>,
                Icon = Icons.Material.TwoTone.Folder,
                    Children = <span class="keyword">new</span> List&lt;Feed&gt;()
                    {
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-01-01&quot;</span>, Title = <span class="string">&quot;Wind.jpg &quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-01-02&quot;</span>, Title = <span class="string">&quot;Stone.jpg&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-01-03&quot;</span>, Title = <span class="string">&quot;Home.jpg&quot;</span> },
                    }
                },
                <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-02&quot;</span>, Title = <span class="string">&quot;Documents&quot;</span>, 
                           Icon = Icons.Material.TwoTone.Folder,
                           Children = <span class="keyword">new</span> List&lt;Feed&gt;()
                    {
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-02-01&quot;</span>, Title = <span class="string">&quot;Environment Pollution.docx &quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-02-02&quot;</span>, Title = <span class="string">&quot;Global Warming.ppt&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-02-03&quot;</span>, Title = <span class="string">&quot;Social Network.pdf&quot;</span> },
                    },
                },
                <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-03&quot;</span>, Title = <span class="string">&quot;Study Materials&quot;</span>,
                           Icon = Icons.Material.TwoTone.Folder,
                           Children = <span class="keyword">new</span> List&lt;Feed&gt;()
                    {
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-03-01&quot;</span>, Title = <span class="string">&quot;UI-Guide.pdf&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-03-02&quot;</span>, Title = <span class="string">&quot;Tutorials.zip&quot;</span> },
                        <span class="keyword">new</span> Feed { Id = <span class="string">&quot;03-03-03&quot;</span>, Title = <span class="string">&quot;TypeScript.7z&quot;</span> },
                    }
                },
            },
            });
    }
}
}
</pre></div>
</div>
