@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id class=@Classes style=@ComputeStyle()>
        <Grid>
            <ScrollViewer @ref="_scrollViewer" Width=@Width Height=@Height>
                @if (RowTemplate != null)
                {
                    <div style=@GetHeightDivStyle()>
                        <div style=@GetTransformStyle()>
                            @foreach (var row in _items.Select((item, index) => new { item, index }))
                            {
                                <div style="@(GetContentStyle(row.item))"
                                    @onmouseenter="(() => MouseEnter(row.item))"
                                    @onmouseleave="(() => MouseLeave())"
                                    @onclick="((e) => ItemClicked(e, row.item, row.item.Index))">
                                    @RowTemplate(row.item)
                                </div>
                            }
                        </div>
                    </div>
                }
            </ScrollViewer>
            @if (_loadingUp && ShowLoadingSpinner)
            {
                <Grid BackgroundColor=Color.Transparent Margin=20
                      HorizontalAlignment=Alignment.Center VerticalAlignment=Alignment.Start>
                    <Spinner />
                </Grid>
            }
            @if (_loadingDown && ShowLoadingSpinner)
            {
                <Grid BackgroundColor=Color.Transparent Margin=20
                      HorizontalAlignment=Alignment.Center VerticalAlignment=Alignment.End>
                    <Spinner />
                </Grid>
            }
        </Grid>
    </div>
</CascadingValue>