@using Microsoft.AspNetCore.Components
@using ClearBlazorInternal
@namespace ClearBlazor
@typeparam TItem
@inherits ListRowBase<TItem>
<CascadingValue Value=this IsFixed="false">
    @if (RowTemplate != null)
    {
        <div id=@RowData.ListItemId class="@Classes" style=@GetContentStyle()
                @onmouseenter=OnMouseEnter
                @onmouseleave=OnMouseLeave
                @onclick=OnRowClicked>
                @RowTemplate(RowData)
        </div>
    }
</CascadingValue>