@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class="@Classes" style="@ComputeStyle()">
        <ClearBlazor.Virtualize @ref="_virtualizeElement" Context="item"
                                Items=@ListViewData ItemHeight=@ItemHeight>
            <div style=@GetContentStyle(item) @onmouseenter="(() => MouseEnter(item))"
                 @onmouseleave="(() => MouseLeave())" @onclick="(() => ItemClicked(item))">
                @RowTemplate(GetItemInfo(item))
            </div>
        </ClearBlazor.Virtualize>
    </div>
</CascadingValue>