@using ClearBlazorInternal
@namespace ClearBlazor
@typeparam TItem
@inherits ListBase<TItem>

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id class=@Classes style=@ComputeStyle()>
        <div id=@_scrollViewerId style=@GetScrollViewerStyle()>
            <div style=@GetContainerStyle()>
                <div style=@GetHeightDivStyle() />
                @if (RowTemplate != null)
                {
                    @foreach (var row in _items.Select((item, index) => new { item, index }))
                    {
                        <ListViewRow1 @key=@row
                                      RowId=@(_baseRowId + row.index.ToString())
                                      RowTemplate=@RowTemplate
                                      RowData=@row.item
                                      Index=@row.index />
                    }
                }
            </div>
        </div>
    </div>
    @if (_loadingUp && ShowLoadingSpinner)
    {
        <Grid BackgroundColor=Color.Transparent Margin=20
              HorizontalAlignment=Alignment.Center VerticalAlignment=Alignment.Start>
            <Spinner />
        </Grid>
    }
    @if (_loadingDown && ShowLoadingSpinner)
    {
        <Grid BackgroundColor=Color.Transparent Margin=20
              HorizontalAlignment=Alignment.Center VerticalAlignment=Alignment.End>
            <Spinner />
        </Grid>
    }
</CascadingValue>