@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id class=@Classes style=@ComputeStyle()>
        <div id=@_scrollViewerId style=@GetScrollViewerStyle()>
            <div style=@GetContainerStyle()>
                @if (RowTemplate != null)
                {
                    @foreach (var row in _items.Select((item, index) => new { item, index }))
                    {
                        <div id=@(_baseRowId +row.index.ToString()) style=@(GetContentStyle(row.item, row.index))
                             @onmouseenter="(() => MouseEnter(row.item))"
                             @onmouseleave="(() => MouseLeave())"
                             @onclick="((e) => ItemClicked(e, row.item, row.item.Index))">
                            @RowTemplate(row.item)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</CascadingValue>