@using System.Text
@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id class="@Classes" style="@ComputeStyle()">
        <Grid Rows="auto,*" CornerRadius=@_gridCornerRadius BackgroundColor=@BackgroundColor>
            <WrapPanel CornerRadius=@_gridCornerRadius VerticalAlignment="Alignment.Start">
                @foreach (Tab tabPage in _pages)
                {
                    <TabButton Size=@Size ButtonStyle="TextEditFillMode.None" IsFirstTab=@(_pages.First()==tabPage)
                               IsLastTab=@(_pages.Last()==tabPage)
                               Icon=@tabPage.Icon
                               IconColor=@GetButtonColor(tabPage)
                               Color=@GetButtonColor(tabPage)
                               ToolTip=@tabPage.ToolTip
                               IsActive=@(tabPage == _activePage) Disabled="@tabPage.Disabled"
                               OnClicked="@(e => ActivatePage(tabPage))">
                        @tabPage?.Text
                    </TabButton>
                }
            </WrapPanel>
            <Grid Row=1>
                @ChildContent
            </Grid>
        </Grid>
    </div>
</CascadingValue>
