@using System.Text
@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id class="@Classes" style="@ComputeStyle()">
        <Grid Rows="auto,*" CornerRadius=@GridCornerRadius BackgroundColor=@BackgroundColor>
            <WrapPanel CornerRadius=@GridCornerRadius VerticalAlignment="Alignment.Start">
                @foreach (Tab tabPage in Pages)
                {
                    <TabButton Size=@Size ButtonStyle="TextEditFillMode.None" IsFirstTab=@(Pages.First()==tabPage)
                               IsLastTab=@(Pages.Last()==tabPage)
                               Icon=@tabPage.Icon
                               IconColor=@GetButtonColor(tabPage)
                               Color=@GetButtonColor(tabPage)
                               ToolTip=@tabPage.ToolTip
                               IsActive=@(tabPage == ActivePage) Disabled="@tabPage.Disabled"
                               OnClicked="@(e => ActivatePage(tabPage))">
                        @tabPage?.Text
                    </TabButton>
                }
            </WrapPanel>
            <Grid Row=1>
                @ChildContent
            </Grid>
        </Grid>
    </div>
</CascadingValue>
