@using Microsoft.AspNetCore.Components
@using System.Text
@using System.Text.RegularExpressions

@namespace ClearBlazor
@inherits ClearComponentBase

<CascadingValue Value=this IsFixed=false>
    <div style=@GetContentDivStyle()>
        @ChildContent
    </div>
</CascadingValue>
