@page "/Logs"
@using Microsoft.AspNetCore.Components.Web.Virtualization

@namespace ClearBlazorTest
<Grid Margin=10 BorderThickness="1" BorderColour="Color.Dark" CornerRadius="4">
    <ScrollViewer HorizontalScrollMode=ScrollMode.Auto>
        <Virtualize Context="item" Items=@Data>
            <div>@item</div>
        </Virtualize>
    </ScrollViewer>
</Grid>

@code {
    List<string> Data = new List<string>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Data = Logger.GetMessages();
    }
}
