@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@inherits Button
<CascadingValue Value="this" IsFixed="false">
    <div id="@Id" class=@Classes style=@ComputeStyle() disabled=@GetDisabledState()
            @onclick=@OnElementClicked
            @onmouseenter=@OnMouseEnter 
            @onmouseleave=@OnMouseLeave>
        @if (ToolTip != null && ToolTip != string.Empty)
        {
            <ToolTip @ref="ToolTipElement" Text=@ToolTip TooltipPosition=@ToolTipPosition 
                     Delay=@ToolTipDelay />
        }
        <Icon Color=@_iconColor Size=@IconSize IconName="@Icon" />
    </div>
</CascadingValue>


