@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@inherits Button
<CascadingValue Value="this" IsFixed="false">
    <Button ButtonStyle=ClearBlazor.ButtonStyle.LabelOnly
            Icon=@(toggled? ToggledIcon : Icon) 
            IconColor=@(toggled? ToggledIconColor : IconColor) 
            Color=@(toggled ? ToggledIconColor : IconColor) 
            Size=Size
            OnClicked=@Clicked>
        @(toggled? ToggledText : Text)
    </Button>
</CascadingValue>

