<div>
<div class="html"><pre>
<span class="atSign">&#64;</span>using ClearBlazorTest

&lt;DocsExamplesPage DocsInfo=<span class="atSign">&#64;</span>(new AppBarDocsInfo())&gt;
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">CodeSnippet</span> <span class="htmlAttributeName">Code</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">DockPanelSimpleExample</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">Grid</span> <span class="htmlAttributeName">Height</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">700</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">DockPanelSimpleExample</span> <span class="htmlTagDelimiter">/&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">Grid</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">CodeSnippet</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">DocsExamplesPage</span><span class="htmlTagDelimiter">&gt;</span>
</pre></div>
</div>
