@namespace ClearBlazorTest
<Grid HorizontalAlignment=Alignment.Start BoxShadow=4>
    <Drawer @ref=Drawer Width=400 BackgroundColor=Color.BackgroundGrey
            @bind-Open=Open
            DrawerLocation=DrawerLocation.Left
            DrawerMode=DrawerMode.Responsive
            OverlayEnabled=true>
        <DrawerContent>
            <Grid CornerRadius=4>
                <ListBox TListBox=string BackgroundColor=Color.Primary>
                    <ListBoxItem Text="Item1" Icon=@Icons.Material.Filled.AddHome OnClicked=@Close />
                    <ListBoxItem Text="Item2" Icon=@Icons.Material.Filled.DeleteForever InitiallyExpanded="true">
                        <ListBoxItem Text="Item3" Icon=@Icons.Material.Filled.Delete OnClicked=@Close />
                        <ListBoxItem Text="Item4" Icon=@Icons.Material.Filled.AccessAlarm InitiallyExpanded="true">
                            <ListBoxItem Text="Item5" Icon=@Icons.Material.Filled.AddCircle OnClicked=@Close />
                            <ListBoxItem Text="Item6" Icon=@Icons.Material.Filled.Send OnClicked=@Close />
                        </ListBoxItem>
                    </ListBoxItem>
                </ListBox>
            </Grid>
        </DrawerContent>
        <DrawerBody>
            <Grid BackgroundColor=Color.Primary>
                <Button HorizontalAlignment="Alignment.Center" OnClicked=@Toggle>Toggle</Button>
            </Grid>
        </DrawerBody>
    </Drawer>
</Grid>

@code {
    Drawer Drawer;

    bool Open { get; set; } = true;

    private void Toggle()
    {
        Open = !Open;
    }
    private void Close()
    {
        Open = false;
    }
}

