@using ComponentsTest.Shared
@using MudBlazor

<MudThemeProvider/>
<MudDialogProvider />
<MudSnackbarProvider />

<div style="height: 100vh;">
    <div style="height: 100%; width:100%; display: grid;">
        <div style="display:grid;overflow:hidden;">
            <MainView/>
        </div>
    </div>
</div>
