@namespace ClearBlazorSkia.Tests
@inherits ComponentBase

<div onclick=@OnClick>
    @if (_testType != null)
    {
        <div style="margin:10px; ">@TestName</div>
        <DynamicComponent Type=@_testType Parameters=@_params />
    }
</div>
