@namespace ClearBlazorTest
<ButtonGroup Orientation="Orientation.Portrait" HorizontalAlignment="Alignment.Start" ButtonStyle=TextEditFillMode.Outline>
    <Button>Default</Button>
    <Button Colour="@Color.Primary" >Primary</Button>
    <Button Colour="@Color.Secondary" >Secondary</Button>
    <Button Disabled=true >Disabled</Button>
</ButtonGroup>
<ButtonGroup Orientation="Orientation.Portrait" HorizontalAlignment="Alignment.Start" ButtonStyle=TextEditFillMode.None>
    <Button>Default</Button>
    <Button Colour="@Color.Primary">Primary</Button>
    <Button Colour="@Color.Secondary">Secondary</Button>
    <Button Disabled=true>Disabled</Button>
</ButtonGroup>
