@namespace ClearBlazorTest
<ButtonGroup Colour="@Color.Primary" ButtonStyle=TextEditFillMode.Outline Size="Size.Small">
    <Button>Default</Button>
    <Button >Primary</Button>
    <Button >Secondary</Button>
    <Button Disabled=true>Disabled</Button>
 </ButtonGroup>
<ButtonGroup Colour="@Color.Primary" ButtonStyle=TextEditFillMode.None Size="Size.Normal">
    <Button>Default</Button>
    <Button>Primary</Button>
    <Button>Secondary</Button>
    <Button Disabled=true>Disabled</Button>
</ButtonGroup>
<ButtonGroup Colour="@Color.Primary" ButtonStyle=TextEditFillMode.Filled Size="Size.Large" Padding="0,0,10,0">
    <Button>Default</Button>
    <Button>Primary</Button>
    <Button>Secondary</Button>
    <Button Disabled=true>Disabled</Button>
</ButtonGroup>
<ButtonGroup Colour="@Color.Primary" ButtonStyle=TextEditFillMode.Outline Size="Size.VeryLarge">
    <Button>Default</Button>
    <Button>Primary</Button>
    <Button>Secondary</Button>
    <Button Disabled=true>Disabled</Button>
</ButtonGroup>
