@using System.ComponentModel.DataAnnotations

@namespace ClearBlazorTest

<StackPanel Orientation=Orientation.Portrait Spacing="10">
    <Grid Margin="10" Width=350 BorderThickness=1 CornerRadius=10 HorizontalAlignment=Alignment.Start>
        <Form @ref="form1" ValidationErrorLocation=ValidationErrorLocation.ErrorIcon Model=@this>
            <StackPanel Orientation=Orientation.Portrait Spacing="10" Margin="10">
                <TextInput Size=Size.Small Label="Name" @bind-Value="TextValue1" FieldName="TextValue1" Immediate="true" />
                <NumericInput Size=Size.Small Label="Value" @bind-Value="IntValue1" FieldName="IntValue1" Immediate="true" />
                <CheckBox Size=Size.Small Label="I agree" @bind-Checked=BoolValue1 FieldName="BoolValue1" />
            </StackPanel>
        </Form>
    </Grid>

    <Grid Margin="10" Width=350 BorderThickness=1 CornerRadius=10 HorizontalAlignment=Alignment.Start>
        <Form @ref="form2" ValidationErrorLocation=ValidationErrorLocation.ErrorIcon Model=@this>
            <StackPanel Orientation=Orientation.Portrait Spacing="10" Margin="10">
                <TextInput Size=Size.Large Label="Name" @bind-Value="TextValue2" FieldName="TextValue2" Immediate="true" />
                <NumericInput Size=Size.Large Label="Value" @bind-Value="IntValue2" FieldName="IntValue2" Immediate="true" />
                <CheckBox Size=Size.Large Label="I agree" @bind-Checked=BoolValue2 FieldName="BoolValue2" />
            </StackPanel>
        </Form>
    </Grid>
</StackPanel>

@code {
    [Required(ErrorMessage = "A value is required.")]
    [MaxLength(10, ErrorMessage = "The maximum length is 10.")]
    public string TextValue1 { get; set; } = string.Empty;
    public int IntValue1 { get; set; }
    public bool BoolValue1 { get; set; } = true;

    [Required(ErrorMessage = "A value is required.")]
    [MaxLength(10, ErrorMessage = "The maximum length is 10.")]
    public string TextValue2 { get; set; } = string.Empty;
    public int IntValue2 { get; set; }
    public bool BoolValue2 { get; set; } = true;

    Form form1;
    Form form2;

}