@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id class=@Classes style=@ComputeStyle()>
        <ScrollViewer @ref="_scrollViewer" Width=@Width Height=@Height>
            @if (RowTemplate != null)
            {
                @foreach (var item in _items)
                {
                    @if (item.Equals(_items.First()))
                    {
                        <div id=@_firstItemId style="@(GetContentStyle())">
                            @RowTemplate(_items.First())
                        </div>
                    }
                    else
                    {
                        <div style="@(GetContentStyle())">
                            @RowTemplate(item)
                        </div>
                    }
                }
            }
        </ScrollViewer>
    </div>
</CascadingValue>