@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id class=@Classes style=@ComputeStyle()>
        <ScrollViewer @ref="_scrollViewer" Width=@Width Height=@Height>
            @if (RowTemplate != null)
            {
                @foreach (var item in _items)
                {
                    <div id=@(_baseRowId +item.index.ToString()) style="@(GetContentStyle())">
                        @RowTemplate(item)
                    </div>
                }
            }
        </ScrollViewer>
    </div>
</CascadingValue>