@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id class=@Classes style=@ComputeStyle()>
        @* Scroll viewer *@
        <div id=@_scrollViewerId style=@GetScrollViewerStyle()>
            @if (RowTemplate != null)
            {
                @foreach (var item in _items)
                {
                    <div id=@(_baseRowId +item.index.ToString()) style="@(GetContentStyle())">
                        @RowTemplate(item)
                    </div>
                }
            }
        </div>
    </div>
</CascadingValue>