@using Microsoft.AspNetCore.Components
@namespace ClearBlazor
@inherits ClearComponentBase

<div id="@Id" class="@Classes" style="@ComputeStyle()">
    <img style=@ImageStyle src=@Source alt=@Alternative />
</div>
