@using System.ComponentModel.DataAnnotations

@namespace ClearBlazorTest
<ColorPicker @bind-Color=Color BorderThickness=1 />
<div style="width:200px;height:200px;background:@Color.Value"></div>

@code {
    Color Color { get; set; } = Color.Secondary;
}