@namespace ClearBlazor
@using Excubo.Blazor.Canvas
@inherits InputBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id @attributes=AdditionalAttributes class=@Classes style=@ComputeStyle()>
        <StackPanel Orientation=@Orientation HorizontalAlignment=Alignment.Start VerticalAlignment=Alignment.Start>
            <Grid BackgroundColor=@Color>
                <Grid Margin="10" BackgroundColor=@Color>
                    <StackPanel Orientation=Orientation.Portrait VerticalAlignment=Alignment.Center
                                HorizontalAlignment=Alignment.Center>
                        <StackPanel Orientation=Orientation.Landscape HorizontalAlignment=Alignment.Center>
                            <TextBlock Color=@GetHourColor() Typo=Typo.H2 Clickable=true @onclick=@OnHourClicked>
                                @Hour.ToString("D2")
                            </TextBlock>
                            <TextBlock Color=@Color.ContrastingColor(Color!) Typo=Typo.H2>:</TextBlock>
                            <TextBlock Color=@GetMinuteColor() Typo=Typo.H2 Clickable=true @onclick=@OnMinuteClicked>
                                @Minute.ToString("D2")
                            </TextBlock>
                            @if (!Hours24 && Orientation == Orientation.Portrait)
                            {
                                <StackPanel Margin="0,0,0,20" Orientation=@Orientation VerticalAlignment=Alignment.Center>
                                    <TextBlock Color=@GetAMColor() Typo=Typo.H6 Margin="0,0,10,0" Clickable=true @onclick=@OnAMClicked>AM</TextBlock>
                                    <TextBlock Color=@GetPMColor() Typo=Typo.H6 Clickable=true @onclick=@OnPMClicked>PM</TextBlock>
                                </StackPanel>
                            }
                        </StackPanel>
                        @if (!Hours24 && Orientation == Orientation.Landscape)
                        {
                            <StackPanel Margin="0,0,0,10" Orientation=@Orientation HorizontalAlignment=Alignment.Center>
                                <TextBlock Color=@GetAMColor() Typo=Typo.H6 Margin="0,10,0,0" Clickable=true @onclick=@OnAMClicked>AM</TextBlock>
                                <TextBlock Color=@GetPMColor() Typo=Typo.H6 Clickable=true @onclick=@OnPMClicked>PM</TextBlock>
                            </StackPanel>
                        }
                    </StackPanel>
                </Grid>
            </Grid>
            <DrawingCanvas @ref="MyCanvas" Padding=10 style="overflow-y:hidden; " 
                           Width=@GetPickerBodySize() Height=@GetPickerBodySize() 
                           OnCanvasSizeChange=@CanvasSizeChange
                           OnPaint=@PaintCanvas
                           OnCanvasMouseMove=@OnMouseMove
                           OnCanvasMouseDown=@OnMouseDown
                           OnCanvasMouseUp=@OnMouseUp
                           OnCanvasTouchStart=@OnTouchStart
                           OnCanvasTouchEnd=@OnTouchEnd
                           OnCanvasTouchMove=@OnTouchMove
                           />
        </StackPanel>
    </div>
</CascadingValue>

