@namespace ClearBlazor
@typeparam TItem
@inherits ClearComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id class=@Classes style=@ComputeStyle()>
        @* Scroll viewer *@
        <div id=@_scrollViewerId style=@GetScrollViewerStyle()>
            <div style=@GetContainerStyle()>
                @if (NodeTemplate != null)
                {
                    @if (_iconWidth == 0)
                    {
                        /* Just to measure width initially */
                        <IconButton @ref=@_measureIcon Size=Size.Normal Icon=@Icons.Material.Filled.ExpandMore
                                    VerticalAlignment=Alignment.Center />
                    }
                    @foreach (var node in _nodes)
                    {
                        @if (!node.item.IsVisible)
                        {
                            continue;
                        }
                        <TreeViewNode TItem=TItem NodeTemplate=@NodeTemplate
                                      NodeData=@node.item
                                      Index=@node.index/>
                    }
                }
            </div>
        </div>
    </div>
</CascadingValue>