@namespace ClearBlazorTest

<Button ButtonStyle=TextEditFillMode.None>Default</Button>
<Button ButtonStyle=TextEditFillMode.None Colour="@Color.Primary">Primary</Button>
<Button ButtonStyle=TextEditFillMode.None Colour="@Color.Secondary">Secondary</Button>
<Button ButtonStyle=TextEditFillMode.None Disabled=true>Disabled</Button>
