@namespace ClearBlazorTest
<Button ButtonStyle=TextEditFillMode.Filled DisableBoxShadow=true>Default</Button>
<Button ButtonStyle=TextEditFillMode.Filled Colour="@Color.Primary" DisableBoxShadow=true>Primary</Button>
<Button ButtonStyle=TextEditFillMode.Filled Colour="@Color.Secondary" DisableBoxShadow=true>Secondary</Button>
<Button ButtonStyle=TextEditFillMode.Filled Disabled=true DisableBoxShadow=true>Disabled</Button>
