@namespace ClearBlazorTest
<Button Shape=ContainerShape.Circle ButtonStyle=TextEditFillMode.Filled Color="@Color.Secondary">Secondary</Button>
<Button Shape=ContainerShape.Square ButtonStyle=TextEditFillMode.Filled Color="@Color.Secondary">Secondary</Button>
<Button Shape=ContainerShape.SquareRounded ButtonStyle=TextEditFillMode.Filled Color="@Color.Secondary">Secondary</Button>
