@namespace ClearBlazorTest
<NonVirtualizedTable @ref=Table Height=500 Width=350 BorderThickness=1 
                     HorizontalAlignment=Alignment.Start CornerRadius=4 
                     VerticalGridLines=GridLines.All HorizontalGridLines=GridLines.All
       Items=@_feeds Padding=5 RowSpacing=10 ColumnSpacing=20 ColumnDefs="auto,auto,*,2*">
    <TableColumn Label="PersonId" TItem=Feed Field=@(x =>x.ImageId)>
        <HeaderTemplate Context=Header>
            <TextBlock FontSize="20px" FontWeight=@((int)FontWeight.Bold)>@(Header + " !!")</TextBlock>
        </HeaderTemplate>
        <DataTemplate Context=Item>
            <TextBlock>@(Item.ImageId + " **")</TextBlock>
        </DataTemplate>
    </TableColumn>
    <TableColumn Label="Image" TItem=Feed Field=@(x =>x.ImageId)>
        <DataTemplate Context=item>
            <Avatar VerticalAlignment=Alignment.Center Color=Color.Transparent
                    Size=Size.VeryLarge Image=@($"https://picsum.photos/id/{item.ImageId}/200/200") />
        </DataTemplate>
    </TableColumn>
    <TableColumn Label="Name" TItem=Feed Field=@(x =>x.Title) />
    <TableColumn Label="Message" TItem=Feed Field=@(x =>x.Message) />
</NonVirtualizedTable>
<StackPanel Spacing=10 Orientation=Orientation.Landscape>
    <Button OnClicked=@OnGoto0Start>Goto 0 (start)</Button>
    <Button OnClicked=@OnGoto50Center>Goto 50 (center)</Button>
    <Button OnClicked=@OnGoto100End>Goto 100 (end)</Button>
</StackPanel>


@code {
    NonVirtualizedTable<Feed>? Table;

    async Task OnGoto0Start()
    {
        if (Table != null)
            await Table.GotoIndex(0, Alignment.Start);
    }

    async Task OnGoto50Center()
    {
        if (Table != null)
            await Table.GotoIndex(50, Alignment.Center);
    }

    async Task OnGoto100End()
    {
        if (Table != null)
            await Table.GotoIndex(100, Alignment.End);
    }

    NonVirtualizedList<Feed> Virtualize = null!;
    record Feed(int ImageId, string Title, string Message);

    List<Feed> _feeds = new List<Feed>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        for (int i = 0; i < 200; i++)
        {
            _feeds.Add(new Feed((i + 1) % 1000, $"Record #{i}", "This is a message"));
        }
    }
}