<Slider Label="Background gradient1" HorizontalAlignment=Alignment.Start Width=300 Size=Size.Large 
        @bind-Value=Value Colour=@Color.Custom("lightgrey")
        Min=0 Max=255
        BackgroundGradient1="linear-gradient( 90deg, #FF0000, #ff0 16.66%, #0f0 33.33%,#0ff 50%, #00f 66.66%, #f0f 83.33%, #FF0000);" />
<div>@Value</div>
<Slider Label="Background gradient1 & 2" HorizontalAlignment=Alignment.Start Width=300 Size=Size.Large 
        @bind-Value=Value2 Colour=@Color.Custom("lightgrey")
        Min=0 Max=255
        BackgroundGradient1="url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGElEQVQYlWNgYGCQwoKxgqGgcJA5h3yFAAs8BRWVSwooAAAAAElFTkSuQmCC) repeat;"
        BackgroundGradient2="linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));" />


<div>@Value2</div>
@code {
    public double Value { get; set; } = 0;
    public double Value2 { get; set; } = 0;
}