@using ClearBlazorInternal
@namespace ClearBlazor
@typeparam TItem
@inherits ListBase<TItem>

<CascadingValue Value="this" IsFixed="false">
    <div id=@Id @attributes=AdditionalAttributes class=@Classes style=@ComputeStyle()>
        <div id=@_scrollViewerId style=@GetScrollViewerStyle()>
@*                     <ScrollViewer @ref=_scrollViewer Width=@_componentWidth Height=@_componentHeight
                      VerticalScrollMode=ScrollMode.Auto
                      Style=@GetScrollViewerStyle1()
                      HorizontalScrollMode=@GetHorizontalScrollMode()
                      VerticalOverscrollBehaviour=OverscrollBehaviour.None
                      HorizontalOverscrollBehaviour=OverscrollBehaviour.None>
 *@
            <div style=@GetContainerStyle()>
                <div style=@GetHeightDivStyle() />
                @if (RowTemplate != null)
                {
                    @foreach (var row in _items.Select((item, index) => new { item, index }))
                    {
                        <ListViewRow @key=@row
                                      RowId=@(_baseRowId + row.index.ToString())
                                      RowTemplate=@RowTemplate
                                      RowData=@row.item
                                      Index=@row.index />
                    }
                }
            </div>
        </div>
    </div>
    @if (_loadingUp && ShowLoadingSpinner)
    {
        <Grid Margin=20
              HorizontalAlignment=Alignment.Center VerticalAlignment=Alignment.Start>
            <Spinner />
        </Grid>
    }
    @if (_loadingDown && ShowLoadingSpinner)
    {
        <Grid Margin=20
              HorizontalAlignment=Alignment.Center VerticalAlignment=Alignment.End>
            <Spinner />
        </Grid>
    }
</CascadingValue>