@namespace ClearBlazorTest
<Slider Label="Step 10" Step=10 @bind-Value=Value1 ShowTickMarks=true ShowTickMarkLabels=true TickMarkLabelFormat="C" />
<div>@Value1</div>
 
@code {
    private double Value1 { get; set; } = 50;
}