<div>
<div class="html"><pre>
<span class="atSign">&#64;</span>using ClearBlazorTest

 <span class="atSign">&#64;</span>* <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">ScrollViewer</span><span class="htmlTagDelimiter">&gt;</span> *<span class="atSign">&#64;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">StackPanel</span> <span class="htmlAttributeName">Spacing</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">20</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">CodeSnippet</span> <span class="htmlAttributeName">Code</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">ToolTipSimpleExample</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">WrapPanel</span> <span class="htmlAttributeName">Direction</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">Direction.Row</span> <span class="htmlAttributeName">ColumnSpacing</span><span class="htmlOperator">=</span><span class="htmlAttributeValue">20</span> <span class="htmlAttributeName">Padding</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">0,0,10,0</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
                <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">ToolTipSimpleExample</span> <span class="htmlTagDelimiter">/&gt;</span>
            <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">WrapPanel</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">CodeSnippet</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">StackPanel</span><span class="htmlTagDelimiter">&gt;</span>
<span class="atSign">&#64;</span>* <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">ScrollViewer</span><span class="htmlTagDelimiter">&gt;</span> *<span class="atSign">&#64;</span>
</pre></div>
</div>
