@using SkiaSharp
@using SkiaSharp.Views.Blazor
@namespace ClearBlazor

<CascadingValue Value="this" IsFixed="false">
    <div id="@_id" style="display:block; overflow:hidden; "
         @onclick=OnClick 
         @ondblclick=OnDblClick
         @onmousedown=OnMouseDown
         @onmouseup=OnMouseUp
         @onmousemove=OnMouseMove
         @onmouseover=OnMouseOver
         @onmouseout=OnMouseOut
         @oncontextmenu=OnContextMenu
         @onmousewheel=OnMouseWheel

         @onpointerdown=OnPointerDown
         @onpointerup=OnPointerUp
         @onpointerenter=OnPointerEnter
         @onpointerleave=OnPointerLeave
         @onpointermove=OnPointerMove
         @onpointerout=OnPointerOut
         @onpointerover=OnPointerOver
         @onpointercancel=OnPointerCancel
         @ongotpointercapture=OnGotPointerCapture
         @onlostpointercapture=OnLostPointerCapture

         @ontouchstart=OnTouchStart
         @ontouchend=OnTouchEnd
         @ontouchmove=OnTouchMove
         @ontouchenter=OnTouchEnter
         @ontouchleave=OnTouchLeave
         @ontouchcancel=OnTouchCancel
         @ontouchmove:preventDefault
         @ontouchmove:stopPropagation>
        @* <SKGLView @ref="_canvasView" id=@_canvasId OnPaintSurface="OnPaintSurface" /> *@
        <SKCanvasView @ref="_canvasView" id=@_canvasId OnPaintSurface="OnPaintSurface" />
    </div>
</CascadingValue>



